<!-- Form for logging in -->
<div class="card" id="forms">

    <form class="login-form">
        <div class="card-header"></div>
        <div class="card-body">

            <div>
                <label for="email-login">Email:</label><br>
                <input type="text" id="email-login" />
            </div>

            <div>
                <label for="password-login">Password:</label><br>
                <input type="password" id="password-login" />
            </div>

            <br>


            <div>
                <button type="submit" class="btn">Login</button>
            </div>

        </div>
    </form>

</div>

<h2 class="center">If you don't have an account, sign up instead:</h2>

<!-- Form for signing up -->
<div class="card" id="forms">

    <form class="signup-form">
        <div class="card-header"></div>
        <div class="card-body">

            <div>
                <label for="username-signup">Username:</label><br>
                <input type="text" id="username-signup" />
            </div>

            <div>
                <label for="email-signup">Email:</label><br>
                <input type="text" id="email-signup" />
            </div>

            <div>
                <label for="password-signup">Password (minimum 8 characters):</label><br>
                <input type="password" id="password-signup" />
            </div>

            <br>

            <div>
                <button type="submit" class="btn">Complete Registration</button>
            </div>

        </div>
    </form>

</div>

<script src="/js/login.js"></script>